<% if @order_items.any? %>
  <% @order_items.each do |item| %>
    <%= image_tag(item.product.photo.url(:thumb)) %>
    <p><%= item.product.name %> | <%= link_to "Delete", order_item_path(item), :data => {:confirm => "You sure?", :method => "delete"} %></p>

    <!-- Shorthand: item: item ===> in partial 'item' --> 
    <%= render "form", locals: { item: item } %>


    <p> Unit Price: <%= number_to_currency item.product.price %> | Quantity: <%= item.quantity %> | Total Price: <%= number_to_currency (item.product.price * item.quantity) %></p>
  <% end %>
  <p>Your Total: <%= number_to_currency current_order.total_price %></p>
<% else %>
  <p>Your shopping cart is empty.</p>
<% end %>
